Repository AntuanW/AGH-Engineering-Thesis, pull requests merged in 2024-12, with the labels that each got.

#46 Instruction for students
  backend/app/main.py
  backend/app/repository/mapping_repository.py
  backend/app/routes/file_export_router.py
  backend/app/student_instruction_export/__init__.py
  backend/app/student_instruction_export/student_instruction_export_service.py
  backend/app/student_instruction_export/student_instruction_pdf_generator.py
  backend/app/student_instruction_export/util/__init__.py
  backend/app/student_instruction_export/util/footer_canvas.py
  backend/app/student_instruction_export/util/pdf_styles.py
  backend/requirements.txt
  backend/tests/repository/test_mapping_repository.py
  backend/tests/student_instruction_export/test_student_instruction_export_service.py
  backend/tests/student_instruction_export/test_student_instruction_pdf_generator.py
Labels: backend

#47 Config upload - new models
  backend/app/config_upload/config_upload_service.py
  backend/app/config_upload/netmiko_connection_config.py
  backend/app/config_upload/util/netmiko_device.py
  backend/app/repository/exceptions/repository_exceptions.py
  backend/app/routes/upload_config_router.py
  backend/tests/config_upload/test_config_upload_service.py
  backend/tests/config_upload/test_netmiko_connection_config.py
Labels: backend

#51 Interface mapping
  backend/app/mapping/mapping_service.py
  backend/app/models/device.py
  backend/tests/mapping/test_mapping.py
  backend/util/device_csv_parser.py
  backend/util/devices.csv
Labels: backend

#55 Topology graphs
  backend/app/instruction_export/__init__.py
  backend/app/instruction_export/instruction_export_service.py
  backend/app/models/device.py
  backend/app/pdf_generator/__init__.py
  backend/app/pdf_generator/pdf_generator.py
  backend/app/pdf_generator/util/__init__.py
  backend/app/pdf_generator/util/footer_canvas.py
  backend/app/pdf_generator/util/pdf_styles.py
  backend/app/routes/file_export_router.py
  backend/app/visualization/__init__.py
  backend/app/visualization/icons/pc.jpg
  backend/app/visualization/icons/router.jpg
  backend/app/visualization/icons/switch.jpg
  backend/app/visualization/topology_visualizer.py
  backend/tests/instruction_export/test_instruction_export_service.py
  backend/tests/pdf_generator/pdf_generator.py
  backend/tests/student_instruction_export/test_student_instruction_pdf_generator.py
  backend/tests/visualization/test_topology_visualizer.py
Labels: backend

#56 requirements fix
  backend/requirements.txt
Labels: bug, backend

#54 Config download but better
  backend/app/common/__init__.py
  backend/app/common/netmiko/__init__.py
  backend/app/common/netmiko/config.py
  backend/app/common/netmiko/netmiko_action.py
  backend/app/common/netmiko/netmiko_client.py
  backend/app/common/netmiko/netmiko_constants.py
  backend/app/common/netmiko/netmiko_device.py
  backend/app/common/netmiko/netmiko_device_type.py
  backend/app/config_download/__init__.py
  backend/app/config_download/config_download_service.py
  backend/app/config_download/utils/__init__.py
  backend/app/config_download/utils/download_config_request.py
  backend/app/config_download/utils/downloaded_config.py
  backend/app/config_upload/config_upload_service.py
  backend/app/main.py
  backend/app/models/mapped_device.py
  backend/app/repository/mapping_repository.py
  backend/app/routes/devices_management_router.py
  backend/app/routes/download_config_router.py
  backend/app/routes/file_export_router.py
  backend/app/routes/upload_config_router.py
  backend/app/running_config/util/device_config_types.py
  backend/docs/netmiko_scripts/skrypt_dostepowy_upel.py
  backend/tests/config_upload/test_config_upload_service.py
  backend/tests/instruction_export/test_instruction_export_service.py
  backend/tests/repository/test_device_repository.py
  backend/tests/repository/test_mapping_repository.py
Labels: backend, enhancement

#58 A really ugly frontend
  backend/app/main.py
  backend/app/repository/base_repository.py
  backend/app/repository/decrypted_xml_repository.py
  backend/app/repository/dto_service.py
  backend/app/repository/lab_group_repository.py
  backend/app/repository/mapping_repository.py
  backend/app/repository/topology_repository.py
  backend/app/routes/file_export_router.py
  backend/app/routes/upload_config_router.py
  backend/client/index.css
  backend/client/index.html
  backend/client/index.js
  backend/tests/repository/test_base_repository.py
Labels: bug, frontend

#61 add ports to instruction
  backend/app/instruction_export/instruction_export_service.py
Labels: backend

#60 move PDF generation to temp directory
  backend/app/pdf_generator/pdf_generator.py
  backend/app/routes/file_export_router.py
Labels: bug, backend

#64 Lab pdf changes
  backend/app/instruction_export/instruction_export_service.py
  backend/app/main.py
  backend/app/pdf_generator/util/pdf_styles.py
Labels: bug, backend

#62 Config pdf
  backend/app/config_download/config_download_service.py
  backend/app/config_download/utils/downloaded_config.py
  backend/app/instruction_export/home_instruction_export_service.py
  backend/app/instruction_export/lab_instruction_export_service.py
  backend/app/pdf_generator/pdf_generator.py
  backend/app/routes/download_config_router.py
  backend/app/routes/file_export_router.py
  backend/tests/instruction_export/test_home_instruction_export_service.py
  backend/tests/instruction_export/test_lab_instruction_export_service.py
Labels: backend

#67 instructon parser for better student_instruction export
  backend/app/common/parsers/__init__.py
  backend/app/common/parsers/instruction_parser.py
  backend/app/common/parsers/parser.py
  backend/tests/parsers/test_instruction_parser.py
Labels: backend, enhancement

#68 Add parsed running config to PDF
  backend/app/instruction_export/home_instruction_export_service.py
  backend/tests/instruction_export/test_home_instruction_export_service.py
Labels: backend

#71 Informacja o braku połączeń między urządzeniami w home instruction
  backend/app/instruction_export/home_instruction_export_service.py
Labels: bug, backend

#72 Post presentation changes
  backend/app/common/netmiko/netmiko_action.py
  backend/app/common/netmiko/netmiko_client.py
  backend/app/common/netmiko/netmiko_device.py
  backend/app/config_download/config_download_service.py
  backend/app/models/mapped_device.py
  backend/app/routes/download_config_router.py
  backend/app/running_config/util/device_config_types.py
  backend/client/index.html
  backend/tests/__init__.py
  backend/tests/config_download/__init__.py
  backend/tests/config_download/mocked_method_results.py
  backend/tests/config_download/test_config_download.py
  backend/tests/mapping/test_mapping.py
Labels: bug, backend

#76 Navbar and structure
  frontend/README.md
  frontend/next.config.ts
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/(components)/navbar/navbar.css
  frontend/src/app/(components)/navbar/navbar.tsx
  frontend/src/app/download-topology/page.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
  frontend/src/app/manage-devices/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/upload-topology/page.tsx
Labels: frontend

#79 Add static fonts
  backend/app/pdf_generator/pdf_generator.py
  backend/app/pdf_generator/static/Times.ttf
  backend/app/pdf_generator/static/Timesbd.ttf
  backend/app/pdf_generator/static/Timesbi.ttf
  backend/app/pdf_generator/static/Timesi.ttf
  backend/app/pdf_generator/util/footer_canvas.py
  backend/app/pdf_generator/util/pdf_styles.py
  backend/tests/pdf_generator/test_pdf_generator.py
Labels: bug, backend

#78 Add logs
  backend/app/instruction_export/home_instruction_export_service.py
  backend/app/instruction_export/lab_instruction_export_service.py
  backend/app/mapping/mapping_service.py
  backend/tests/visualization/test_topology_visualizer.py
Labels: backend

#82 Fixed static front
  backend/app/routes/upload_config_router.py
  backend/client/index.css
  backend/client/index.html
  backend/client/index.js
Labels: frontend, enhancement

#80 Nowy model mappingu + robienie mappingu z downloadu
  backend/app/config_download/utils/download_config_request.py
  backend/app/instruction_export/lab_instruction_export_service.py
  backend/app/mapping/mapping_service.py
  backend/app/models/device.py
  backend/app/models/mapping.py
  backend/app/repository/base_repository.py
  backend/app/repository/dto_service.py
  backend/app/repository/lab_group_repository.py
  backend/app/repository/mapping_repository.py
  backend/app/routes/download_config_router.py
  backend/app/routes/file_export_router.py
  backend/app/routes/upload_config_router.py
  backend/client/index.js
  backend/tests/instruction_export/test_lab_instruction_export_service.py
  backend/tests/mapping/test_mapping.py
  backend/tests/repository/test_mapping_repository.py
  backend/tests/visualization/test_topology_visualizer.py
Labels: backend

#38 Docker init
  .gitignore
  README.md
  backend/.dockerignore
  backend/Dockerfile
  backend/README.md
  backend/app/main.py
  backend/app/repository/exceptions/__init__.py
  backend/setup.py
  docker-compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.md
Labels: backend, enhancement

#84 Upload workflow
  README.md
  backend/app/repository/dto_service.py
  backend/app/routes/upload_config_router.py
  frontend/package.json
  frontend/src/app/(components)/configuration-form/configurationForm.css
  frontend/src/app/(components)/configuration-form/configurationForm.tsx
  frontend/src/app/(components)/upload-form/responses.tsx
  frontend/src/app/(components)/upload-form/uploadForm.css
  frontend/src/app/(components)/upload-form/uploadForm.tsx
  frontend/src/app/(interfaces)/common/Group.tsx
  frontend/src/app/(interfaces)/common/IndexDto.tsx
  frontend/src/app/(interfaces)/common/Mapping.tsx
  frontend/src/app/(interfaces)/common/Rack.tsx
  frontend/src/app/(interfaces)/common/Topology.tsx
  frontend/src/app/(server-actions)/IndexDtoRevalidation.tsx
  frontend/src/app/(services)/IndexDtoService.tsx
  frontend/src/app/(services)/TopologyUploadService.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/upload-topology/page.css
  frontend/src/app/upload-topology/page.tsx
Labels: frontend
