Repository AntuanW/AGH-Engineering-Thesis, pull requests merged in 2024-11, with the labels that each got.

#35 tests init
  backend/tests/config_upload/__init__.py
  backend/tests/repository/test_decrypted_xml_repository.py
  backend/tests/repository/test_topology_repository.py
  backend/tests/resources/test_FileService.py
  backend/tests/routes/test_upload_config_router.py
  backend/tests/running_config/__init__.py
  backend/tests/running_config/test_basic_config_extractor.py
  backend/tests/running_config/test_running_config_service.py
Labels: bug, backend

#33 device-repository
  backend/app/repository/device_repository.py
  backend/tests/repository/test_device_repository.py
Labels: backend

#37 repository test with mock (chapter III nightmare)
  backend/tests/repository/test_device_repository.py
Labels: backend

#41 Basic crud
  backend/app/main.py
  backend/app/routes/devices_management_router.py
Labels: backend

#34 22.11.2024 imporvements
  backend/app/decryptor/decryptor_service.py
  backend/app/decryptor/file_service.py
  backend/app/main.py
  backend/app/repository/topology_repository.py
  backend/app/resources/FileService.py
  backend/app/resources/__init__.py
  backend/app/resources/configs/config.txt
  backend/app/resources/pkt/pkt.pkt
  backend/app/resources/xml/xml.xml
  backend/app/routes/upload_config_router.py
  backend/app/running_config/basic_config_extractor.py
  backend/docs/netmiko_scripts/lab-22_11_24.py
  backend/tests/config_upload/test_config_upload_service.py
Labels: client, enhancement

#44 Mapowanie urządzeń z configa na salę
  backend/app/mapping/__init__.py
  backend/app/mapping/mapping_service.py
  backend/app/models/connection.py
  backend/app/models/device.py
  backend/app/models/lab_group.py
  backend/app/models/mapped_device.py
  backend/app/models/mapping.py
  backend/app/models/rack.py
  backend/app/models/topology.py
  backend/app/repository/base_repository.py
  backend/app/repository/decrypted_xml_repository.py
  backend/app/repository/device_repository.py
  backend/app/repository/lab_group_repository.py
  backend/app/repository/mapping_repository.py
  backend/app/repository/topology_repository.py
  backend/app/routes/upload_config_router.py
  backend/app/running_config/util/device_config_types.py
  backend/tests/mapping/test_mapping.py
Labels: backend, enhancement
