Repository AntuanW/AGH-Engineering-Thesis, pull requests merged in 2025-01, with the labels that each got.

#83 Test coverage
  backend/app/mapping/mapping_service.py
  backend/pytest.ini
  backend/tests/__init__.py
  backend/tests/common/parsers/test_instruction_parser.py
  backend/tests/config_download/__init__.py
  backend/tests/config_download/test_config_download_service.py
  backend/tests/config_upload/test_netmiko_device.py
  backend/tests/decryptor/test_decryptor_service.py
  backend/tests/decryptor/tracer822.pkt
  backend/tests/decryptor/tracer822_corrupt.pkt
  backend/tests/decryptor/xml822.xml
  backend/tests/mapping/test_mapping_service.py
  backend/tests/models/test_device.py
  backend/tests/pkt_decryptor/tracer822_pc.pkt
  backend/tests/readme.md
  backend/tests/repository/test_decrypted_xml_repository.py
  backend/tests/repository/test_topology_repository.py
  backend/tests/resources/test_FileService.py
  backend/tests/routes/test_upload_config_router.py
  backend/tests/running_config/TestBasicConfigExtractor.py
  backend/tests/running_config/resources/test-topology-pc.xml
  backend/tests/running_config/test_basic_config_extractor.py
  backend/tests/running_config/test_running_config_service.py
Labels: backend

#87 change title
  backend/app/instruction_export/home_instruction_export_service.py
Labels: bug, backend

#88 Minor changes
  backend/app/logging_setup.py
  backend/app/models/device.py
  backend/app/routes/devices_management_router.py
  frontend/src/app/(components)/device-forms/add-device-form/deviceForm.css
  frontend/src/app/(components)/device-forms/add-device-form/deviceForm.tsx
  frontend/src/app/(components)/device-forms/modify-device-form/modifyDeviceForm.css
  frontend/src/app/(components)/device-forms/modify-device-form/modifyDeviceForm.tsx
  frontend/src/app/(components)/download-form/downloadForm.css
  frontend/src/app/(components)/instruction-form/instructionForm.css
  frontend/src/app/(components)/instruction-form/instructionForm.tsx
  frontend/src/app/(components)/upload-form/uploadForm.css
  frontend/src/app/(components)/upload-forms/configuration-form/configurationForm.css
  frontend/src/app/(components)/upload-forms/configuration-form/configurationForm.tsx
  frontend/src/app/(components)/upload-forms/upload-topology-form/responses.tsx
  frontend/src/app/(components)/upload-forms/upload-topology-form/uploadForm.css
  frontend/src/app/(components)/upload-forms/upload-topology-form/uploadForm.tsx
  frontend/src/app/(interfaces)/device-management/Device.tsx
  frontend/src/app/(interfaces)/device-management/DeviceType.tsx
  frontend/src/app/(interfaces)/device-management/Interface.tsx
  frontend/src/app/(interfaces)/device-management/InterfaceType.tsx
  frontend/src/app/(server-actions)/DevicesRevalifation.tsx
  frontend/src/app/(services)/DeviceManagementService.tsx
  frontend/src/app/(services)/TopologyDownloadService.tsx
  frontend/src/app/(services)/TopologyUploadService.tsx
  frontend/src/app/globals.css
  frontend/src/app/manage-devices/[deviceId]/edit/page.tsx
  frontend/src/app/manage-devices/[deviceId]/page.css
  frontend/src/app/manage-devices/[deviceId]/page.tsx
  frontend/src/app/manage-devices/add-device/page.tsx
  frontend/src/app/manage-devices/page.css
  frontend/src/app/manage-devices/page.tsx
  frontend/src/app/upload-topology/page.tsx
Labels: frontend
